[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pymodbustcp = "*"
pyyaml = "*"
flask = "*"
flask-socketio = "*"
flask-apscheduler = "*"
flask-cors = "*"